html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #008c8c;
  --secondary: #ffd651;
  --dark: #005858;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e6e6e6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

/*========= ATOMS DESIGN =========*/

#invert-clr-btn {
  border: 1px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
  font-weight: 500;
  border-radius: 10px;
  width: 100%;
}

#invert-clr-btn:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

#login-regis-btn {
  width: 100px;
  background-color: transparent;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  font-weight: 500;
  border-radius: 10px;
  margin-inline: 10px;
  margin-block: 10px;
}

#login-regis-btn:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

#modal {
  border: none;
}

#detail-btn {
  background-color: transparent;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  font-weight: 500;
  border-radius: 10px;
}

#detail-btn:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

/*========= MOLECULE DESIGN =========*/
#card-cmp {
  margin-block: 10px;
}

#card-cmp:hover {
  cursor: pointer;
}

/*========= ORGANISM DESIGN =========*/

#navbar-bg {
  background-color: var(--primary);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

#nav-btn {
  color: var(--secondary);
  padding-inline: 15px;
  font-weight: 500;
}
